body {
    display: flex;
    flex-direction: column;
    font-family: Roboto sans-serif;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    margin: 0px;
}

.logo {
    flex: 0 1;
}

.page-links {
    flex: 0 1;
    display: flex;
    gap: 15px;
    align-items: center;
    min-width: content;
    color: #ffffff;
}

a {
    white-space: nowrap;
}

#home {
    background-color: #1F2937;
    color: #ffffff;
}