* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    margin: 0px;
    align-items: center;
    padding: 10px;
    color: #ffffff;
}

.logo {
    flex: 0 1;
    white-space: nowrap;
    font-size: 24px;
    color: #F9FAF8;
}

.page-links {
    flex: 0 1;
    display: flex;
    gap: 15px;
    align-items: center;
    min-width: content;
    color: #E5E7EB;
    font-size: 18px;
}

a {
    white-space: nowrap;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#home {
    background-color: #1F2937;
    color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 20px;
}



.left-home {
    flex: 0 1 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #E5E7EB;
    font-size: 18px;
}

.right-home {
    flex: 0 1;
}

.right-home img {
    max-height: 400px;
    max-width: auto;
}

.buttons {
    display: flex;
    gap: 15px;
}

h1, h2, h3 {
    margin: 0px;
}

button {
    border-radius: 5px;
    background-color: #3882F6;
    color: #ffffff;
    padding: 5px 20px;
}