* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header,.footer {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    margin: 0px;
    align-items: center;
    padding: 25px;
    color: #ffffff;
}

.logo {
    flex: 0 1;
    white-space: nowrap;
    font-size: 24px;
    color: #F9FAF8;
}

.page-links {
    flex: 0 1;
    display: flex;
    gap: 15px;
    align-items: center;
    min-width: content;
    color: #E5E7EB;
    font-size: 18px;
}

a {
    white-space: nowrap;
    text-decoration: none;
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#home {
    background-color: #1F2937;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}



.left-home {
    flex: 0 1 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #E5E7EB;
    font-size: 18px;
}

.right-home {
    flex: 0 0 400px;
}

.right-home img {
    max-height: 400px;
    max-width: auto;
}

.buttons {
    display: flex;
    gap: 15px;
}

h1, h2, h3 {
    margin: 0px;
}

button {
    border-radius: 5px;
    background-color: #3882F6;
    color: #ffffff;
    padding: 5px 20px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    margin: 30px 0px 50px;
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 50px;
    flex: 1;
}

.box {
    display: flex;
    flex-direction: column;
    flex: 0 1 241px;
    gap: 10px;
    text-align: center;
}

.instagram {
    flex: 0 1 241px;
}

img {
    max-width: 100%;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

#demo-reel {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;
    height: 100vh;
}

#demo-reel img {
    height: 80vh;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

.call-to-action {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    background-color: #3882F6;
    color: #ffffff;
    border-radius: 5px;
    gap: 100px;
    align-items: center;
    min-width: 80%;
}

.call-to-action button {
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
}